.main-page-p {
  margin-top: 50px;
}

.main-title {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://hackernoon.com/hn-images/1*lduEjOI-EQltoRbmKSICeA.jpeg);
  background-attachment: fixed;
  background-position: center;
  border-radius: 0px;
}
.main-title {
  height: 91vh;
}
.breakingline {
  width: 90%;
  background-color: rgb(132, 132, 132);
}

.btn-custom:link,
.btn-custom:visited {
  margin-top: auto;
  background-color: #7a43b6;
  border-color: #7a43b6;
  transition: font-size 0.2s, background-color 0.2s, border-colour 0.2s;
}

.btn-custom:active,
.btn-custom:hover {
  background-color: #4b1d7c !important;
  border-color: #4b1d7c !important;
  font-size: 160% !important;
}

.navbar-icon {
  height: 7vh;
  background-color: #fff;
  border-radius: 7px;
  margin-right: 10px;
}

.carousel-inner > .carousel-item > img {
  height: 50vh;
}

.custom-caroussel-caption {
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 20px;
}

.caroussel-br {
  font-size: 80%;
  margin-top: 15px;
}
